* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	font-family: sans-serif;
	color: #fff;
	margin: 50px;
	font-size: 30px;
}

div {
	margin: 50px;
}

// p:first-child {
// 	color: lime;
// }

// p:last-child {
// 	color: gold;
// }

p:first-of-type {
	color: royalblue;
}

p:last-of-type {
	color: tomato;
}
